.topnav {
  overflow: hidden;
  margin-bottom: 5rem;
}

.social{
  position: absolute;
  right: 55px;
}


.topnav li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 700px) {
  .topnav li:not(.socialIcon, :first-child) {
    display: none;
  }
  .topnav li.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive li {
    float: none;
    display: block;
  }

  .topnav.responsive ul {
    margin-bottom: 3rem;
  }
}

